* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    background-color: var(--light--background);
}

li, a {
    font-family: system-ui;
    font-weight: 500;
    font-size: 16px;
    color: var(--light--col);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px var(--wrapper_value);
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.logo img {
    border-radius: 5px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--accent--red);
}

button {
    margin: 0 20px;
}

.page__content {
    max-height: 100vh;
    padding: 30px var(--wrapper_value);
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--light--col);
    font-family: system-ui;
    margin: 0 auto;
}