/* Site Colours */
:root {
    --dark--background: #404045;
    --light--background: #D5D5D5;
    --accent--red: #FF0035;
    --transparent: rgba(0, 0, 0, 0)
}

/* Elements */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: system-ui;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

button {
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    margin: 10px;
    cursor: pointer;
}

.background--light {
    background: var(--light--background);
}

.background--dark {
    background: var(--dark--background);
}

/* Classes */
.card {
    margin: 2em;
    max-width: 400px;
    max-height: 150px;
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
}

.card h1, p {
    text-align: center;
}

.card--light {
    background: #EEE;
    color: #000;
}

.card--dark {
    background: #333;
    color: #EEE;
}

.card__container {
    display: flex;
    justify-content: center;
}

.button--primary {
    background-color: var(--accent--red);
    border: 0;
    color: white;
}

.button--secondary {
    background-color: var(--transparent);
    border: 2px solid var(--accent--red);
    color: var(--accent--red);
}

/* IDs */