/* Elements */
body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    margin: 0;
    font-family: system-ui;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 100px;
}

.background--light {
    background: var(--light--background);
}

.background--dark {
    background: var(--dark--background);
}

/* Classes */
.card {
    margin: 2em;
    max-width: 400px;
    max-height: 175px;
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
}

.card h1, p {
    text-align: center;
    cursor: default;
    user-select: none;
}

.card--light {
    background: var(--light--back);
    color: var(--light--col);
}

.card--dark {
    background: var(--dark--back);
    color: var(--dark--col);
}

.card__container {
    display: flex;
    justify-content: center;
}

/* IDs */